Copy code
body {
  font-family: Arial, sans-serif;
}

h1, h3 {
  text-align: center;
}

form {
  margin-top: 20px;
}

label {
  display: inline-block;
  width: 140px;
}

input {
  margin-bottom: 10px;
  height: 44px;
}
select, button {
  height: 44px;
}

#gridContainer {
  margin: 30px auto;
  width: 337px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(16, 20px);
  gap: 1px;
  background-color: #ccc;
  border: 1px solid #999;
}

.gridCell {
  width: 20px;
  height: 20px;
  background-color: #fff;
}

#creatureList {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.creatureItem {
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 250px;
  padding: 20px;
}

.creatureItem span {
  display: block;
}

.creatureItem .deleteButton {
  width: 100%;
}

.yCoordinate, .xCoordinate {
  margin: 2px;
}

.creatureItem .xCoordinate, .creatureItem .yCoordinate {
  width: 75px;
}

.creatureHealth {
  font-size: 24px;
}
.creatureElement {
  display: inline-block;
  border: 1px solid #999;
  padding: 5px;
  margin: 5px;
}

div.creatureDead {
  background-color: red;
  text-decoration: line-through;
}



.flexcontainer {
  display: flex;
  flex: 3;
}

.flcolumna-1 {
  flex: 2;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  overflow-y: scroll;
}

.flcolumna-2 {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
}

.creatureImage {
  width: 50px;
}

.creatureImageDraw {
  width: 16px;
  border-radius: 100%;
  border: 2px solid #FFB800;
  cursor: pointer;
}

img.creatureDead{
  border: 6px solid red;
  opacity: 30%;
  width: 08px;
}

.subtractHealth {
  margin: 5px;
  width: 50px;
}

.fullcontainer {
  display: flex;
}

.creatureForm {
  width: 200px;
  margin: 5px;
  
}

.creatureForm *{ 
  width: 100%;
}

.dragging {
  cursor: -webkit-grabbing; cursor: grabbing;
}