Copy code
body {
  font-family: Arial, sans-serif;
}

h1, h3 {
  text-align: center;
}

form {
  margin-top: 20px;
}

label {
  display: inline-block;
  width: 140px;
}

input {
  margin-bottom: 10px;
  height: 44px;
}
select, button {
  height: 44px;
}

#gridContainer {
  margin: 30px auto;
  width: min-content;
}

#grid {
  display: grid;
  grid-template-columns: repeat(22, 50px);
  gap: 1px;
  background-color: #ccc;
  border: 1px solid #999;
  background-repeat: no-repeat;
  background-position: 51px 20px;
}

.gridCell {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

#creatureList {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.creatureItem {
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 250px;
  padding: 20px;
}

.creatureItem span {
  display: block;
}

.creatureItem .deleteButton {
  width: 100%;
}

.yCoordinate, .xCoordinate {
  margin: 2px;
}

.creatureItem .xCoordinate, .creatureItem .yCoordinate {
  width: 75px;
}

.creatureHealth {
  font-size: 24px;
}
.creatureElement {
  display: inline-block;
  border: 1px solid #999;
  padding: 5px;
  margin: 5px;
}

div.creatureDead {
  background-color: red;
  text-decoration: line-through;
}



.flexcontainer {
  display: flex;
  flex: 3;
  position: relative;
}

.containerFloat {
  width: 300px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  overflow-y: scroll;
  position: absolute;
  z-index: 5;
  top: 50px;
  left: 50px;
  background: white;
}

.flcolumna-2 {
  flex: 2;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 10px;
}

.creatureImage {
  width: 50px;
}

.creatureImageDraw {
  width: 46px;
  border-radius: 100%;
  border: 2px solid #369d4a;
  cursor: pointer;
}


img.creatureCasiDead{
  border: 2px solid #FFB800;
}


img.creatureDead{
  border: 6px solid red;
  opacity: 30%;
  width: 38px;
}

.subtractHealth {
  margin: 5px;
  width: 50px;
}

.fullcontainer {
  display: flex;
  flex-direction: column;
}

.creatureForm {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 10px;
  overflow-y: scroll;
}

.creatureForm *{ 
  width: 230px;
}

#creatureForm {
  display: flex;
}

.dragging {
  cursor: -webkit-grabbing; cursor: grabbing;
}

.gridCellHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}


.col-1 {
  flex: 1;
  padding: 20px;
  margin: 0 10px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.fullButton{
  width: 100%;
  margin: 0;
}